#loading {
    .ring-spinner {
        position: fixed;
        top: calc(50vh - 30px);
        left: calc(50vw - 31px);
        z-index: 11;
        fill: white;
        width: 60px;
        height: 60px;
        background-color: rgba(80, 80, 80, 0.25);
        padding: 2px;
        border-radius: 50%;
    }
}

